tripbook.pfeif.us {
    reverse_proxy app:3000
    encode gzip
    header {
        Strict-Transport-Security "max-age=31536000"
        X-Content-Type-Options "nosniff"
    }
    request_body {
        max_size 12MB
    }
}
